{% extends "chat/base.html" %}

{% block content %}
<div class="chat-layout fade-in">

  <!-- SIDEBAR -->
  <aside class="chat-sidebar card">
    <div class="chat-sidebar-header">
      <a href="{% url 'new_chat' %}" class="primary-btn new-chat-btn">+ New Chat</a>
    </div>

    <div class="chat-session-list">
      <div class="empty-sidebar">
        <div class="empty-sidebar-card">
          No chats yet.
        </div>
      </div>
    </div>
  </aside>

  <!-- MAIN CHAT AREA -->
  <section class="chat-main card">
    <div class="chat-wrap" id="chat">
      <div class="chat-empty-state">
        <h2>Start a conversation</h2>
        <p class="empty-subtitle">
          Ask anything about your infrastructure, cloud, or applications.
        </p>

        <div class="empty-actions">
          <a href="{% url 'new_chat' %}" class="primary-btn big-btn">+ New Chat</a>
        </div>
      </div>
    </div>


  </section>

</div>

{% endblock %}